/*
 * NOTICE: This file has been consolidated into consolidated.css
 * 
 * This file is no longer actively used by most HTML pages.
 * All content from this file has been merged into: consolidated.css
 * 
 * Please use consolidated.css instead for all pages except:
 * - about_parallax.html (still uses individual CSS files)
 * 
 * Date consolidated: November 7, 2025
 */

/* declare colour vars */
:root {
    /* debug colours */
    --debug1:#06c;
    --debug2:#a3f;
    --debug3: red;
    --white: #f9fbf6;

    /* primary colours */
    /* --bg_colour: rgb(231, 227, 222); */
    --bg_colour: #f8f6f1;                     /* main background colour*/
    --banner: rgb(188, 108, 96);                /* header banner */
    --title: #f9f9f9;                           /* main heading/title colours */
    --p: #3d2a33;                             /* main paragraph font colour */

    /* secondary colours */
    --faint:rgb(134, 134, 134);
    --transparent:transparent;
    --secondary_colour: rgb(188, 108, 96);
    --shadow: rgba(1, 1, 1, 0.05);

    /* other */
}
